{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": ["prettier", "react", "react-hooks", "import", "jsx-a11y"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "class-methods-use-this": "off",
    "camelcase": "off",
    "comma-dangle": ["error", "only-multiline"],
    "jsx-a11y/aria-role": [ "error", {
      "ignoreNonDOM": true
    }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/iframe-has-title": "off",
    "jsx-a11y/label-has-associated-control": [ "error", {
      "assert": "either"
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "allowChildren": true,
      "required": {
        "some": [ "nesting", "id" ]
      }
    }],
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "max-classes-per-file": ["error", 1],
    "max-lines": ["error", {"max": 100, "skipBlankLines": true, "skipComments": true}],
    "no-plusplus": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-useless-concat": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "block-like", "next": "const" },
      { "blankLine": "always", "prev": "const", "next": "block-like" },
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "if", "next": "block-like" },
      { "blankLine": "always", "prev": "block-like", "next": "if" }
    ],
    "react/jsx-props-no-spreading": 0,
    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/destructuring-assignment": "off",
    "react/jsx-sort-props": ["error", {
      "reservedFirst": ["key", "ref"]
    }],
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/no-unsafe": ["error", { "checkAliases": true }],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "sort-keys": ["error", "asc", {"caseSensitive": true, "natural": false}],
    "yoda": "warn"
  }
}
